body {
    font-family: 'Roboto', sans-serif;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color: var(accent-color);
}

:root {
    --fond-color: #212121
}

/*-------------HEADER------------*/

.header {
    background-color: fffff;
}

.header-logo, .header-logo-accent {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.header-logo-accent { 
    color: #000000;
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--fond-color);
}

.header-link:hover,
.header-link:focus {
    color: #2196F3;
}

.header-mail, .header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--fond-color);
}

.header-mail:hover,
.header-mail:focus {
    color: #2196f3
}

.header-tel:hover,
.header-tel:focus {
    color: #2196F3;
}

/*-------------MAIN------------*/

/*Щоб бачити текст*/
.main-page {
    background-color: #2F303A;
}

.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196F3;
}

.main-btn:hover,
.main-btn:focus {
    background-color: #188CE8;
    color: #FFFFFF;
}

.content-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--fond-color);
}

.content-desc {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.images-title,
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: var(--fond-color);
}

.team-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--fond-color);
}

.team-desc {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    color: #757575; 
}

/*-------------FOOTER------------*/

/*Щоб бачити текст*/
footer {
    background-color: #2F303A;
}

.footer-logo,
.footer-logo-accent {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.footer-logo-accent {
    color: #000000;
}

.footer-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-mail,
.footer-tel  {
    font-size: 14px;
    line-height: 1.71fr;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

