body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color: var(accent-color);
}

.current {
    color: var(--accent-color)
}
:root {
    --fond-color: #212121;
    --accent-color: #2196F3;
    --main-text: #FFFFFF;
    --p-text: #757575;
    --background-btn: #2196F3;
    --text-btn: #FFFFFF;
    --accent-btn: #188CE8;
    --color-logo: #2196F3;
    --color-logo-accent: #000000;
    --background-color: #F5F4FA;
    
}

/*-------------HEADER------------*/


.header-logo, .header-logo-accent {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--color-logo);
}

.header-logo-accent { 
    color: var(--color-logo-accent);
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--fond-color);
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

.header-mail, .header-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--fond-color);
}

.header-mail:hover,
.header-mail:focus {
    color: var(--accent-color);
}

.header-tel:hover,
.header-tel:focus {
    color: var(--accent-color);
}

/*-------------MAIN------------*/

/*Щоб бачити текст*/
.main-page {
    background-color: #2F303A;
}

.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-text);
}

.main-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--text-btn);
    background-color: var(--background-btn);
}

.main-btn:hover,
.main-btn:focus {
    background-color: var(--accent-btn);
    color: var(--text-btn);
}

.content-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--fond-color);
}

.content-desc {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--p-text);
}

.team {
    background-color: var(--background-color);
}

.images-title,
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: var(--fond-color);
}

.team-subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--fond-color);
}

.team-desc {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--p-text);
}

/*-------------FOOTER------------*/

/*Щоб бачити текст*/
footer {
    background-color: #2F303A;
}

.footer-logo,
.footer-logo-accent {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--color-logo);
}

.footer-logo-accent {
    color: var(--color-logo-accent);
}

.footer-address {
    font-style: normal;
}
.footer-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text);
}

.footer-mail,
.footer-tel  {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

/*-------------------PORTFOLIO PAGE------------*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.btn-list {
    background-position: var(--background-color);
}
.btn-item {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    color: var(--fond-color);
    cursor: pointer;    
}

.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--fond-color);
}

.project-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--p-text);
}